@tailwind base;
@tailwind components;
@tailwind utilities;


body { 
    font-family: Inter, system-ui, sans-serif; margin:0; padding:0; background:#fafafa; color:#111; 
}

a {
     color: inherit; 
    }
